.purple {
    color: #674ea7;
}

.blue {
    color: #3c78d8;
}

.green {
    color: #6aa84f;
}

.orange {
    color: #e69138;
}

.red {
    color: #cc0000;
}

.rst-content .code-block-caption {
    text-align: start;
}

.rst-content dl.jcoad.trigger dt em.property,
 .rst-content dl.jcoad.property dt em.property {
    padding-right: 0 !important;
}

.rst-content dl.jcoad dd .param .details {
    margin-left: 24px;
}

.rst-content dl.jcoad dd .param .details .option {
    font-size: 85%;
}

.rst-content code.xref {

}